body {
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../images/back-images/wp1874175.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-size: 1910px 420px;
}
header .logo {
  display: flex;
  height: 260px;
  width: 100%;
  justify-content: center;
}
header .logo div {
  background-color: rgb(20, 19, 19);
  height: 100%;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
}
header .logo__images {
  margin: 17px;
  padding: 15px;
  height: 300px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo__images img {
  height: 100%;
  width: 100%;
}
header .loc_auth {
  margin-top: 150px;
  z-index: 1;
  margin: 9px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .loc_auth img:hover {
  opacity: 0.5;
}
header .loc_auth div {
  height: 100%;
  width: 500px;
  color: white;
}
header .loc_auth .loc {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  padding-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .loc_auth .loc .photo {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .loc_auth .loc .photo img {
  height: 55px;
  width: 55px;
}
header .loc_auth .loc .ecris {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 253, 253);
  font-size: 25px;
}

.auth {
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: black;
  padding-top: 5px;
}

.SingIn {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.SingIn img {
  height: 55px;
  width: 55px;
}

.SingUp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.SingUp img {
  height: 55px;
  width: 55px;
}
.SingUp button {
  width: 100px;
  font-size: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  color: gray;
}
.SingUp button p {
  text-align: center;
  font-size: 15px;
}
.SingUp button:hover {
  color: black;
}

nav {
  height: 53px;
  background-color: black;
  align-items: center;
  width: 100%;
}
nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  color: white;
  border: 4px double rgb(65, 94, 65);
  background-color: black;
}
nav li:hover {
  opacity: 0.9;
  color: rgb(55, 66, 55);
}
nav li {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster Two", cursive;
  font-family: "Oswald", sans-serif;
}

.presentation {
  height: 900px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(55, 66, 55);
}
.presentation__debut {
  width: 100%;
  height: 700px;
  display: flex;
}
.presentation__debut .text {
  height: 700px;
  background-color: rgb(55, 66, 55);
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation__debut .text div {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster Two", cursive;
  color: white;
  background-color: rgb(34, 24, 24);
  height: 60%;
  width: 75%;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 15px 15px 15px 15px black;
}
.presentation__debut .text div:hover {
  box-shadow: 25px 25px 25px 25px rgb(229, 233, 231);
}
.presentation__debut .text h1 {
  text-align: center;
}
.presentation__debut .text-images {
  height: 700px;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 40px;
}
.presentation__debut .text-images img {
  height: 700px;
  width: 100%;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.presentation .description {
  background-color: rgb(65, 94, 65);
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 5px double black;
  border-bottom: 5px double black;
}
.presentation .description .first {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: black;
}
.presentation .description .first article {
  background-color: rgb(65, 94, 65);
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation .description .first article img {
  height: 100px;
  width: 100px;
}
.presentation .description .first article img:hover {
  opacity: 0.5;
}
.presentation .description .first aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  background-color: rgb(65, 94, 65);
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster Two", cursive;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.presentation .description .second {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: black;
}
.presentation .description .second article {
  background-color: rgb(65, 94, 65);
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation .description .second article img {
  height: 100px;
  width: 100px;
}
.presentation .description .second article img:hover {
  opacity: 0.5;
}
.presentation .description .second aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  background-color: rgb(65, 94, 65);
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster Two", cursive;
  font-size: 18px;
  color: rgb(255, 255, 255);
}
.presentation .description .end {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: black;
}
.presentation .description .end article {
  background-color: rgb(65, 94, 65);
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.presentation .description .end article img {
  height: 100px;
  width: 100px;
}
.presentation .description .end article img:hover {
  opacity: 0.5;
}
.presentation .description .end aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 100%;
  background-color: rgb(65, 94, 65);
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster Two", cursive;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.cuisine {
  background-color: rgb(255, 255, 255);
  height: 2190px;
}
.cuisine .bloc_afrique {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cuisine .titre {
  background-color: rgb(255, 255, 255);
}
.cuisine .titre h2 {
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster Two", cursive;
}
.cuisine .africain {
  background-color: black;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cuisine .africain div {
  display: flex;
  height: 300px;
  width: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  justify-content: center;
}
.cuisine .africain div article {
  background-color: rgb(12, 155, 12);
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.cuisine .africain div img {
  height: 100%;
  width: 100%;
  display: flex;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.cuisine .africain div img:hover {
  opacity: 0.5;
}
.cuisine .africain div button {
  height: 35px;
  width: 120px;
  font-size: 16px;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Oswald", sans-serif;
}
.cuisine .africain div button:hover {
  background-color: black;
  color: white;
}
.cuisine .africain div button:visited {
  opacity: 0.7;
}
.cuisine .africain div aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
}
.cuisine .bloc_crepes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cuisine .crepes {
  background-color: black;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cuisine .crepes div {
  display: flex;
  height: 300px;
  width: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  justify-content: center;
}
.cuisine .crepes div article {
  background-color: rgb(12, 155, 12);
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.cuisine .crepes div img {
  height: 100%;
  width: 100%;
  display: flex;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.cuisine .crepes div img:hover {
  opacity: 0.5;
}
.cuisine .crepes div button {
  height: 35px;
  width: 120px;
  font-size: 16px;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Oswald", sans-serif;
}
.cuisine .crepes div button:hover {
  background-color: black;
  color: white;
}
.cuisine .crepes div button:visited {
  opacity: 0.7;
}
.cuisine .crepes div aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
}
.cuisine .bloc_brochettes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cuisine .brochettes {
  background-color: black;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cuisine .brochettes div {
  display: flex;
  height: 300px;
  width: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  justify-content: center;
}
.cuisine .brochettes div article {
  background-color: rgb(12, 155, 12);
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.cuisine .brochettes div img {
  height: 100%;
  width: 100%;
  display: flex;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.cuisine .brochettes div img:hover {
  opacity: 0.5;
}
.cuisine .brochettes div button {
  height: 35px;
  width: 120px;
  font-size: 16px;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Oswald", sans-serif;
}
.cuisine .brochettes div button:hover {
  background-color: black;
  color: white;
}
.cuisine .brochettes div button:visited {
  opacity: 0.7;
}
.cuisine .brochettes div aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
}
.cuisine .bloc_orders {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cuisine .orders {
  background-color: black;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cuisine .orders div {
  display: flex;
  height: 300px;
  width: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  justify-content: center;
}
.cuisine .orders div article {
  background-color: rgb(12, 155, 12);
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.cuisine .orders div img {
  height: 100%;
  width: 100%;
  display: flex;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.cuisine .orders div img:hover {
  opacity: 0.5;
}
.cuisine .orders div button {
  height: 35px;
  width: 120px;
  font-size: 16px;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Oswald", sans-serif;
}
.cuisine .orders div button:hover {
  background-color: black;
  color: white;
}
.cuisine .orders div button:visited {
  opacity: 0.7;
}
.cuisine .orders div aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
}
.cuisine .bloc-spaghetti {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cuisine .spaghetti {
  background-color: black;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cuisine .spaghetti div {
  display: flex;
  height: 300px;
  width: 30px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  justify-content: center;
}
.cuisine .spaghetti div article {
  background-color: rgb(12, 155, 12);
  height: 70%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.cuisine .spaghetti div img {
  height: 100%;
  width: 100%;
  display: flex;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
}
.cuisine .spaghetti div img:hover {
  opacity: 0.5;
}
.cuisine .spaghetti div button {
  height: 35px;
  width: 120px;
  font-size: 16px;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Oswald", sans-serif;
}
.cuisine .spaghetti div button:hover {
  background-color: black;
  color: white;
}
.cuisine .spaghetti div button:visited {
  opacity: 0.7;
}
.cuisine .spaghetti div aside {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
}
.cuisine .remerciements {
  background-color: rgb(2, 31, 13);
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cuisine .remerciements div {
  background-color: rgb(34, 24, 24);
  height: 60%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 80px;
  box-shadow: 20px 20px 20px 20px black;
}
.cuisine .remerciements div:hover {
  box-shadow: 22px 22px 22px 22px rgb(229, 233, 231);
}
.cuisine .remerciements h2 {
  text-align: center;
  color: white;
}

.from_remerciements {
  height: 1250px;
  border: 1px solid rgb(7, 7, 7);
  background-color: rgb(221, 42, 42);
  display: flex;
  flex-direction: column;
}
.from_remerciements .formulaire {
  height: 70%;
  background-color: rgb(65, 94, 65);
  display: flex;
  justify-content: center;
}
.from_remerciements .remerciementsForm {
  background-color: rgb(2, 31, 13);
  height: 415px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.from_remerciements .remerciementsForm div {
  background-color: rgb(34, 24, 24);
  height: 60%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 100px;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 80px;
  box-shadow: 20px 20px 20px 20px black;
}
.from_remerciements .remerciementsForm div:hover {
  box-shadow: 22px 22px 22px 22px rgb(229, 233, 231);
}
.from_remerciements .remerciementsForm h2 {
  text-align: center;
  color: white;
}
.from_remerciements form {
  background-color: rgb(65, 94, 65);
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.from_remerciements form table {
  width: 100%;
  height: 590px;
  background-color: rgb(34, 24, 24);
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 80px;
  box-shadow: 20px 20px 20px 20px black;
  color: white;
}
.from_remerciements form table:hover {
  box-shadow: 25px 25px 25px 25px rgb(229, 233, 231);
}
.from_remerciements form td {
  font-size: 25px;
}
.from_remerciements form input {
  font-size: 25px;
}
.from_remerciements form select {
  font-size: 25px;
}
.from_remerciements form button {
  font-size: 30px;
  display: flex;
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Lobster Two", cursive;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Oswald", sans-serif;
}
.from_remerciements form button:hover {
  background-color: black;
  color: white;
}
.from_remerciements form .buttons {
  display: flex;
}
.from_remerciements form label {
  font-family: "Bebas Neue", sans-serif;
  font-family: "Lobster Two", cursive;
}

/*# sourceMappingURL=style.css.map */
