        @mixin reperageBox () {
            border: 1px solid rgb(167, 194, 48);
            background-color: red;
        }
        
        @mixin centrerPhoto {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        @mixin DoubleboiteenUne {
            height: 100%;
            width: 200px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            color: black;
            background-color: rgb(65, 94, 65);
        }
        
        body {
            margin: 0;
            padding: 0;
        }
        
        header {
            background-color: rgb(65, 94, 65);
            width: 100%;
            height: 100%;
            .logo {
                background-image: url(../images/back-images/desktop-wallpaper-restaurant-png-transparent-restaurant-png-restaurants.jpg);
                display: flex;
                height: 260px;
                width: 100%;
                justify-content: center;
                div {
                    background-color: rgb(20, 19, 19);
                    height: 100%;
                    width: 600px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    color: white;
                }
                &__images {
                    margin: 17px;
                    padding: 15px;
                    height: 300px;
                    z-index: 2;
                    @include centrerPhoto();
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            .loc_auth {
                margin-top: 150px;
                z-index: 1;
                margin: 9px;
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                div {
                    height: 100%;
                    width: 500px;
                    color: white;
                }
                .loc {
                    @include DoubleboiteenUne();
                    padding-top: 5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .photo {
                        @include centrerPhoto();
                        img {
                            height: 55px;
                            width: 55px;
                        }
                    }
                    .ecris {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: rgb(255, 253, 253);
                        font-size: 25px
                    }
                }
            }
        }
        
        .auth {
            @include DoubleboiteenUne();
            padding-top: 5px;
        }
        
        .SingIn {
            width: 500px;
            @include centrerPhoto();
            img {
                height: 55px;
                width: 55px;
            }
        }
        
        .SingUp {
            @include centrerPhoto();
            img {
                height: 55px;
                width: 55px;
            }
        }
        
        nav {
            padding-bottom: 10px;
            height: 40px;
            background-color: black;
            align-items: center;
            ul {
                padding-bottom: 15px;
                list-style-type: none;
                display: flex;
                justify-content: space-around;
                font-size: 30px;
                color: white;
                border: 4px double rgb(65, 94, 65);
                background-color: black;
            }
        }